#jumbo{
	background-color: rgba(0,0,0,0);
	background-image: url(../img/sketch16.png);
	background-position: right top;
	border-bottom: 7px ridge #ececec;
	background-size: cover;
}

#head1{
	color: #031424;
	font-size:3em;
	font-family: knorke;

}
#head2{
	color: #031424;
	font-size: 2em;
}

.navbar{
	background-color: #DCDCDC;
}

#navbarElements{
	padding-bottom: 63px;
	color: #2a3797;
	padding-right: 7px;
	
}

#navbarElements:hover{
	color:#ee5f4f;
	
}

#kbd{
	background-color: transparent;
	color: #031424;
	font-size: 2em;
}

@font-face{
	font-family: knorke;
	src: url("Knorke.ttf");
}

@font-face{
	font-family: domine;
	src: url("Domine-Regular.ttf");
}

@font-face{
	font-family: newsflash;
	src: url("newsflash.ttf");
}

#mainAccordion{
	padding-bottom: 100px;
}

#accordion1{
	font-family: domine;
	cursor:pointer;
	background-color: rgba(48,65,93,0);
	color: #DCDCDC;
	opacity: 50%;
	text-shadow: 2px 2px 5px #000000;
	font-size: 1.5em;
}

#accordion2{
	font-family: domine;
	cursor:pointer;
	background-color: rgba(0,0,0,0);
	color: #DCDCDC;
	text-shadow: 2px 2px 5px #000000;
	font-size: 1.5em;


}

.filling1{
}

.filling2{
	font-style:italic;
}

.subject{
	font-size: 1.75em;
	font-weight: bold;
	font-family: domine;
}

body{
	background-image: url("../img/watercolor13.jpg");
	background-position: right top;
	overflow-x:hidden;
}

#break{
	padding:175px;
}

a{
	color: #DCDCDC;
}

a:hover{
	color:#DCDCDC;
}

#quote{
	font-size: 1.5em;
}

@media (max-width: 768px) {
	#head1{font-size:2em;}
	#head2{font-size: 1.5em;}
	#kbd{font-size: 1.5em;}
	#accordion1{font-size: 1em;}
	#accordion2{font-size: 1em;}
	.subject{font-size: 1.25em;}
	#quote{font-size: 1em;}
}
